.awesome-marker i {
    font-size: 18px;
    margin-top: 8px;
}
#sidebarmain {
    z-index: 2;
    position: absolute;
    height:96%;
    width: 15em;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.8);
}
#sidebar {
    overflow-x: auto;
    overflow-y: auto;
    float:left;
    height: 100%;
    width:100%
}
#map { 
    height: 100%;
    width:100% 
}

#drag{
    float:left;
    width: 5px;
    z-index: 3;
    height: 90%;
    position:absolute;
    top: 5%;
    right: -2px;
    background-color: #444;
}
